body {
    margin: 0;
    background: black;
    position: relative;/*required for set up sticky footer*/
    overflow: scroll; /*for the content in the contianer/wrapper to scroll*/
  }
  /*for the content in the contianer/wrapper to scroll in the css doodle*/
  .doodle {
  overflow: scroll;
  }
  /* To hide the data and rankiing for the inital stage
  .hide{
      display: none;
  }*/

  /*Positon the entire container to make it show on the top of the page */
  #wrapper{
      font-family:Arial, Helvetica, sans-serif;
      position: absolute;
      top: 10px;
      left:60px;
      right:60px;
  }
  /*Optional:Try to set the background image for the jumbotroon*/
  /*.jumbotron {
    background-image: url(../../Night-sky.jpg);
    background-size: cover;
    height: 100%;
    width:100%;
}*/

  /*Set the text color for the search box and the title of the inital video*/
  label,h2{
      color:red;
  }
  label {
      font-weight: bolder;
  }
  /*Section for the slideshow*/
  #slideshow{
      position: relative;
      left:10%;
  }
  #slide-image-1{
      width:400px;
      height: 400px;
    width: 70%;

  }
  #slide-image-2 {
width:400px;
height: 400px;
width:70%;

  }
  #slide-text {
      width:500px;
      height: 300px;
      width: 70%;
      font-size:30px;
      color: white;
      background: green;
      border: 1px solid white;

  }
  /*Set the color for the result of search maybe also the name of the resulting video */
  .col-md-6 {
      color: orange;
  }
  /*Position the video to make it could line up with image*/
  #video-display {
      position: relative;
      top: 30px;
  }
  /*To make a sticky footer */
  footer p{
      position:fixed;
      bottom: 0;
      left:0;
      height: 50px;
      margin-bottom: 0;
  }


  /*connection for the ids made in the js file
  #heroName = name of the searched hero  from api object
  = image from the api object
  #description = summary of the charcter
  #series = list of the product this hero shown
  */
  /*Line up the images and text of the marvel api results for the image I add a class in app.js file to make it responsive*/
  #thumbnail,#description,#series{
      margin-bottom: 2%;
      width: 90%;

  }